* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.outer {
    position: relative;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    border: initial;
   
}

.encPrincipal{
    background-color: #023e8a;   
}

.encPrincipal .encabezado .imgencabezado{
    display: block;
    height: 100%;
    width: 100%;
}

.encPrincipal .encabezado .pencabezado{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 60px auto;  
    padding-left: 5px; 
    color: #FFF;
 }
 
 .logo{
    height: 40px;
    width: 40px;
 }
 .menu{  
    margin-top: 10px;
    background-color: #023e8a;
}

.menu .principal{
     text-decoration: none;
     text-align: center;
     color: white;
     padding: 10px 80px 10px 80px; 
     border-right: 1px solid #FFF;
 }

 .menu .last{
   
    border-right: 0px;
}

.menu  a:hover{
    background-color: #e56b6f;
    font-size: medium;
   font-weight: bold;
 }

 .centroprincipal{
    margin-top: 10px;
 }

 .centroprincipal .centro{
    background-color: #f2e9e4;
    
}

.centroprincipal .centro .centroimg{
    display: block;
    width: 90%;
    height: 90%;
    margin: 25px auto;
 }

 .centroprincipal .centro .centroart .pcentro{
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 60px auto;   
 }

.fondos{
    margin-top: 10px ;
    height: 450px;
    width: 450px;
}

.footer {
    border-top:double;
    clear: both;
    height: 66px;
    text-align: center;
    background-color: #023e8a;
    padding-top:15px;
    color: #FFF;
}


.calculadora {
    width: 500px;
    max-height: 500px;
    background-color: #168aad;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    color: #99d98c;
    text-align: center;
    border: solid;
    box-shadow: 15px 15px 60px #000000;
}

.boton {
    background-color: #99d98c;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: #184e77;
}

    .boton:hover {
        background-color: #34a0a4;
    }